<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="keywords" content="Chess, Platform">
    <meta name="description" content="Chess platform where you can play chess with friends or with computer. You can also watch others play.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="robots" content="noarchive">

    <title>@ViewBag.Title</title>
    <link asp-append-version="true" rel="icon" href="~/img/king-black.png">

    <environment names="development">
        <link asp-append-version="true" rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/>
        <link asp-append-version="true" rel="stylesheet" href="~/lib/font-awsome/css/font-awesome.css"/>
        <link asp-append-version="true" rel="stylesheet" href="~/lib/bootswatch/cosmo/bootstrap.css"/>
        <link asp-append-version="true" rel="stylesheet" href="~/lib/ng-table/dist/ng-table.css"/>
        <link asp-append-version="true" rel="stylesheet" href="~/style/site.css"/>
    </environment>
    <environment Names="staging,production">
        <link asp-append-version="true" rel="stylesheet" href="~/style/site.min.css"/>
    </environment>
</head>
<body>
    @Html.Partial("_Navbar")

    <div id="main" class="unselectable container-fluid">
        <input type="hidden" id="default-url" value="@Url.Content("~/")" />
        @RenderBody()
    </div>

    <script asp-append-version="true" src="~/lib/underscore/underscore.js"></script>
    <script asp-append-version="true" src="~/lib/lodash/dist/lodash.js"></script>
    <script asp-append-version="true" src="~/lib/jquery/dist/jquery.js"></script>
    <script asp-append-version="true" src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script asp-append-version="true" src="~/lib/angular/angular.js"></script>
    <script asp-append-version="true" src="~/lib/angular-route/angular-route.js"></script>
    <script asp-append-version="true" src="~/lib/angular-animate/angular-animate.js"></script>
    <script asp-append-version="true" src="~/js/lib/angular-table.js"></script>
    <script asp-append-version="true" src="~/js/lib/angular-ui.js"></script>

    @RenderSection("Scripts", false)
</body>
</html>